@font-face {
  font-family: "Cooper Hewitt";
  font-weight: normal;
  src: url("/CooperHewitt-Book.c8ec6374.woff");
}
@font-face {
  font-family: "Cooper Hewitt Medium";
  src: url("/CooperHewitt-Medium.885919f2.woff");
}

/* layout */

html {
  font-family: "Cooper Hewitt", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav {
  margin-top: 2rem;
}

footer::before {
}

footer {
  padding-top: 4rem;
  clear: both;
}

/* styles */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1, h3, h5 {
  font-family: "Cooper Hewitt Medium";
}

h1, h2 { font-size: 2rem; }
h3, h4 { font-size: 1.5rem; }
h5, h6 { font-size: 1.2rem; }

p {
  margin-bottom: 1rem;
}

strong {
  font-family: "Cooper Hewitt Medium";
}

footer {
  font-size: 0.85rem;
}

article {
  position: relative;
}

/* custom: brand */

.Brand {
  margin-bottom: -1.5rem;
  font-style: italic;
  font-size: 1.5rem;
}

/* custom: led */

/* custom: pedal */

@media(min-width: 768px) {
  main {
    max-width: 45rem !important;
  }

  article > h1, article > h2 {
    text-align: left !important;
  }

  .Pedal {
    float: left !important;
  }
}

article > h1, article > h2 {
  text-align: center;
}

main {
  max-width: 28rem;
  margin: auto;
}

.Pedal {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

.Pedal .Label {
  font-size: 0.5rem;
  line-height: 1em;
}

.ThreeSectionStompbox {
  --outsidePadding: 0.4rem;

  /* width: 10rem; */
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: var(--bg);
  color: var(--textOnBg);

  border-radius: 0.3rem;
  padding: var(--outsidePadding);
}

.Controls {
  background-color: var(--bg2);
  color: var(--textOnBg2);
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 0.4rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Controls__Spacer {
  height: 1px;
  content: " ";
}

.CheckLED {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.Knobs__StraightRow {
  min-height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Knobs__Pair {
  min-height: 2rem;
  display: flex;
  justify-content: space-around;
}

.Knobs__Pair .Knob {
  margin: 0 1rem;
}

.Knobs__TriangleUp {
  min-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.Knobs__TriangleUp > * {
  margin-right: 5px;
  margin-left: 5px;
}

.Knobs__TriangleUp > *:nth-child(2) {
  align-self: flex-start;
}

.Knobs__TriangleDown {
  min-height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.Knobs__TriangleDown > * {
  margin-right: 5px;
  margin-left: 5px;
}

.Knobs__TriangleDown > *:nth-child(2) {
  align-self: flex-end;
}

/* foot switch */

.Pusher {
  height: 6rem;
  background-color: var(--footContact);
  border-radius: 0.3rem;
}

.FootSwitchSingle {
  min-height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FootSwitchRow {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=/static.abaec9a8.css.map */